<h1>Editing videoboard</h1>

<%= render "form", videoboard: @videoboard %>

<br>

<div>
  <%= link_to "Show this videoboard", @videoboard %> |
  <%= link_to "Back to videoboards", videoboards_path %>
</div>
