<h1>Editing mainboard</h1>

<%= render "form", mainboard: @mainboard %>

<br>

<div>
  <%= link_to "Show this mainboard", @mainboard %> |
  <%= link_to "Back to mainboards", mainboards_path %>
</div>
