<div id="<%= dom_id memoryram %>">
  <p>
    <strong>Product name:</strong>
    <%= memoryram.product_name %>
  </p>

  <p>
    <strong>Memory size:</strong>
    <%= memoryram.memory_size %>
  </p>

</div>
