<h1>Editing memoryram</h1>

<%= render "form", memoryram: @memoryram %>

<br>

<div>
  <%= link_to "Show this memoryram", @memoryram %> |
  <%= link_to "Back to memoryrams", memoryrams_path %>
</div>
