/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container{
    position: relative;
    width: 100%;
    margin-left: 25%;
}

.menu{
    position: relative;
    width: 25%;
    height: 100%;
    margin-left: -1%;
    margin-top: -1%;
    background-color: powderblue;
}


.list-menu{
    list-style-type: none; /* no bullets */
}

.menu-btn{
    position: relative;
    width: 8%;
    height: 4%;
    background-color: powderblue;
    padding: 0.06in;
}

.api{
    position: absolute;
    float: right;
    margin-left: 102%;
    width: 160%;
    height: 50%;
}